---
import { published } from '../../data/post';
import PostCard from '../../components/PostCard.astro';
import Layout from '../../components/layouts/Layout.astro';
export async function getStaticPaths({ paginate }: any) {
  const markdownFiles = await Astro.glob('../../posts/*.mdx');
  const posts = published(markdownFiles);
  return paginate(posts, { pageSize: 4 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<Layout
  title='Blog'
  description="Stay informed on the latest web development, OSINT, and Information Security trends and techniques with Scarlett Danger's blog."
>
  <h1>Blog</h1>
  <div>
    {page.data.map((post: any) => <PostCard post={post} />)}
  </div>
  <div class='mt-4 flex flex-row justify-center font-semibold'>
    Page {page.currentPage} / {page.lastPage}
  </div>
  <div class='btn-group mx-auto mt-4 grid w-2/3 grid-cols-2 sm:w-1/2'>
    <a href={page.url.prev} class={`btn btn-outline ${page.url.prev ? '' : 'btn-disabled'}`}> Previous </a>

    <a href={page.url.next} class={`btn btn-outline ${page.url.next ? '' : 'btn-disabled'}`}> Next </a>
  </div>
</Layout>
