---
import Button from '@/components/ui/button.astro';

const ctaContent = {
  overline: 'Take Action Now',
  title: 'Make your business\nstand out.',
  description: 'Transform your online presence with our sustainable and organic approach to web development.',
  primaryCta: {
    text: 'Get Started',
    href: 'contact',
  },
};
---

<section class='relative flex overflow-hidden bg-forest bg-cover bg-fixed bg-center bg-no-repeat py-16 sm:py-20'>
  <!-- mask -->
  <div class='absolute inset-0 size-full bg-background/80'></div>
  <div class='container z-0 text-center'>
    <div class='mx-auto max-w-4xl space-y-4 text-center sm:space-y-6'>
      <span class='text-base font-semibold uppercase tracking-wide text-accent'>{ctaContent.overline}</span>
      <h2 class='text-3xl font-bold leading-tight text-primary sm:text-4xl md:text-5xl lg:text-6xl'>
        {ctaContent.title}
      </h2>
      <p class='mx-auto max-w-2xl text-base leading-relaxed text-muted-foreground sm:text-lg md:text-xl'>
        {ctaContent.description}
      </p>
      <div class='flex flex-col items-center justify-center gap-3 pt-4 sm:flex-row sm:gap-4'>
        <Button href={ctaContent.primaryCta.href} size='lg'>
          {ctaContent.primaryCta.text}
        </Button>
      </div>
    </div>
  </div>
</section>
