---
import { siteConfig } from '@/config/site.config';
import Layout from '@/layouts/layout.astro';
import { Image } from 'astro:assets';
import WavingHand from '@/assets/waving-hand.webp';
---

<Layout title={siteConfig.title} description={siteConfig.description}>
  <section class='items-starts container flex h-full flex-col justify-center gap-y-4 pt-4'>
    <div class='flex items-center gap-x-2 text-5xl font-extrabold'>
      <span>Hello World</span>
      <Image src={WavingHand} alt='waving hand' class='animate-wave size-12' />
    </div>
    <div class='space-y-2'>
      <h1 class='text-5xl font-extrabold'>
        My name is <span
          class='from-base-content to-highlight bg-gradient-to-r bg-clip-text font-extrabold text-transparent'
          >Aleksa</span
        >
      </h1>
      <h2 class='text-3xl font-bold'>
        I design and build{' '}
        <span class='highlight-heading animate-highlight'>things for the web.</span>
      </h2>
    </div>
    <div class='text-xl font-semibold'>Computer Science Student and Web Developer.</div>
    <div class='bg-laptop mx-auto mt-4 h-[275px] w-[275px] sm:h-[350px] sm:w-[350px] md:h-[450px] md:w-[450px]'></div>
  </section>
</Layout>

<script>
  const urlParams = new URLSearchParams(window.location.hash.substring(1));
  const tokenTypes = ['invite_token', 'confirmation_token', 'recovery_token', 'email_change_token'];

  tokenTypes.forEach((tokenType) => {
    if (urlParams.has(tokenType)) {
      window.location.href = `/admin/#${tokenType}=${urlParams.get(tokenType)}`;
    }
  });
</script>
