---
import { Icon } from 'astro-icon/components';
import { cn } from '@/lib/utils';

interface Props {
  items?: BreadcrumbItem[];
}

interface BreadcrumbItem {
  text: string;
  href?: string;
  icon?: string;
}

const { items } = Astro.props;

// Generate breadcrumb items from current path
const currentPath = Astro.url.pathname;
const pathSegments = currentPath.split('/').filter(Boolean);

const formatSegmentText = (segment: string) => {
  // Replace hyphens and underscores with spaces
  const withSpaces = segment.replace(/[-_]/g, ' ');
  // Split into words, capitalize only the first letter of the first word
  const words = withSpaces.split(' ');
  return words.map((word, index) => (index === 0 ? word.charAt(0).toUpperCase() + word.slice(1) : word)).join(' ');
};

const generateBreadcrumbItems = () => {
  const generatedItems: BreadcrumbItem[] = [{ text: 'Home', href: '/', icon: 'lucide:home' }];

  let accumulatedPath = '';
  if (items) {
    items.forEach((item) => {
      generatedItems.push(item);
    });
  } else {
    pathSegments.forEach((segment) => {
      accumulatedPath += `/${segment}`;
      generatedItems.push({
        text: formatSegmentText(segment),
        href: pathSegments[pathSegments.length - 1] === segment ? undefined : accumulatedPath,
      });
    });
  }
  return generatedItems;
};

const breadcrumbItems = generateBreadcrumbItems();
---

<nav class='flex py-4' aria-label='Breadcrumb'>
  <ol class='inline-flex items-center space-x-1 md:space-x-3'>
    {
      breadcrumbItems.map((item, index) => (
        <li class='inline-flex items-center'>
          {index !== 0 && <Icon name='lucide:chevron-right' class='text-base-content h-4 w-4' />}
          {item.href ? (
            <a
              href={item.href}
              class={cn(
                'text-base-content hover:text-primary inline-flex items-center text-sm font-medium transition-colors',
                index !== 0 && 'ml-1 md:ml-2',
              )}
            >
              {item.icon && <Icon name={item.icon} class='mr-2 h-4 w-4' />}
              {item.text}
            </a>
          ) : (
            <span class='text-base-content ml-1 max-w-48 truncate text-sm font-medium sm:max-w-full md:ml-2'>
              {item.text}
            </span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
