---
export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
}

const DOMAIN = 'https://aleksa.codes';
const DEFAULT_OG_IMAGE = 'https://i.postimg.cc/Kvcp7pzY/aleksa-codes.jpg';
const {
  title = 'Home',
  description = "Aleksa is a web developer that works on the user interface design and frontend development. He's passionate about design, coding and building things for the web.",
  siteName = 'aleksa.codes',
  canonical = DOMAIN,
  ogImage = DEFAULT_OG_IMAGE,
  ogType = 'website',
  twitterHandle = '@aleksacodes'
} = Astro.props as Props;
---

{
  title === 'Home' ? (
    <title>{`${siteName}`}</title>
  ) : (
    <title>{`${title} | ${siteName}`}</title>
  )
}
<meta name='description' content={description} />
<meta name='og_type' property='og:type' content={ogType} />
<meta name='og_title' property='og:title' content={title} />
<meta name='og_description' property='og:description' content={description} />
<meta name='og_locale' property='og:locale' content='en_IE' />
<meta name='og_site_name' property='og:site_name' content={siteName} />
<meta name='og_url' property='og:url' content={canonical ?? DOMAIN} />
<meta name='og_site_name' property='og:site_name' content={siteName} />
<meta
  name='og_image'
  property='og:image'
  content={ogImage ?? DEFAULT_OG_IMAGE}
/>
<meta
  name='og_image:alt'
  property='og:image:alt'
  content={`${title} | ${siteName}`}
/>
<meta name='og_image:width' property='og:image:width' content='1200' />
<meta name='og_image:height' property='og:image:height' content='630' />

<meta name='robots' content='index,follow' />
<meta name='googlebot' content='index,follow' />

<meta name='twitter:card' name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' name='twitter:site' content={twitterHandle} />
<meta name='twitter:creator' name='twitter:creator' content={twitterHandle} />
<meta name='twitter:title' property='twitter:title' content={title} />
<meta
  name='twitter:description'
  property='twitter:description'
  content={description}
/>

<link rel='canonical' href={canonical ?? DOMAIN} />
